@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

@font-face {
    font-family:'Shadows Into Light';
    src: url('fonts/ShadowsIntoLight.ttf');
}

/*COLORS*/

/*jaune : #ffda6d */
/*bleu : #afcff9 */
/*font-family: 'Shadows Into Light'*/

/*TEST */


/*COMMON TO ALL SITE*/

/* HEADER */

.header {
    height:70px;
    background-color:#afcff9;
    padding:0px 50px;
    border-radius:8px;
/*    margin:20px;*/
    border:1px solid #eee;
    /*position:relative;*/
/*    box-shadow:0 0 2px 2px #eee;*/
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

/*logo*/
@media screen and (min-width:801px) {.logo-container {
    height:auto;
    postion:absolute;
    text-align:center;
    margin-top:20px;
}
}

@media screen and (max-width:800px) {
    .logo-container {
    height:auto;
    postion:absolute;
    text-align:center;
    margin-top:20px;
}
}

.logo-bao {
    width:15vh;
    margin-bottom:20px;
    /*display:none;*/
}

/*wodebao*/
.logo-title {
    margin:10px 0 0 60px;
}

@media screen and (max-width:800px) {
    .logo-title {
    margin:10px 0 0 0px;
}
}

.title-bao {
        width:125px;
        float:left;
        margin-top:2px;
}

@media screen and (max-width:800px) {
    .title-bao {
        width:125px;
        margin-top:2px;
}
}


/*menu nav*/

.header-topnav a {
  float: right;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family:'Futura';
}

.header-topnav a:hover {
  background-color: #86B3EE;
  /*color: black;*/
  border-radius:20px;
}

.header-topnav a.icon:hover {
    background-color:#afcff9;
}

.header-topnav .active {
  /*background-color: #4CAF50;*/
  color: white;
}

.header-topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .header-topnav a {display: none;}
  .header-topnav a.icon {
    float: right;
    display: block;
    font-size:40px;
    padding:4px;
  }
}


.container.pushed .content{
   margin-top: 60px;
}

@media screen and (max-width: 800px) {
  .header-topnav.responsive {
    position: relative;
    background-color: #afcff9;
    border-radius:8px;
    padding:0px 20px 0 20px;
}

  .header-topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header-topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-family:'Shadows Into Light','futura';
  }
}

/*remove logo title "mon bao" when opening menu*/
@media screen and (max-width:800px) {
    .logo-title.responsive {
        display: :none;
    }
}



/* CONTAINER */

.container {
    background-color:#f2f2f2;
    padding-top:40px;
    padding-bottom:50px;
}

@media screen and (max-width:800px) {
    .container {
        padding-top:0px;
        width:100%;
    }
    .inner-content {
    display:block;
    margin-left:auto;
    margin-right:auto;
    background-color:#fff;
    padding:30px;
    border-radius:8px;
    border: 2px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    width:80%;
    padding:20px 40px 40px 40px;
    border-radius:0px;
}
}

@media screen and (min-width:801px) {
    .inner-content {
    display:block;
    margin-left:auto;
    margin-right:auto;
    background-color:#fff;
    padding:30px;
    border-radius:8px;
    border: 2px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    width:80%;
    padding:40px;
    border-radius:0px;
}
}



.container .inner-content .description {
    font-family:'Shadows Into Light','Gill Sans', 'Helvetica';
    font-size:35px;
    text-align:center;
    margin:20px 100px;
    letter-spacing: 3px;
}

@media screen and (max-width: 800px) {
    .container .inner-content .description {
    font-size:25px;
    font-family:'Shadows Into Light','Gill Sans', 'Helvetica';
    text-align:center;
    margin:30px 0px 0px 0px;
    letter-spacing:2px;
    }
    .button-command1 {
    background-color: #ffda6d;
    padding:20px 30px;
    font-size:4vh;
    border-radius:20px;
    border: 1px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    color:#fff;
    font-family: 'Futura', 'Arial', 'Helvetica';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
}
}


@media screen and (min-width:801px) {
    .button-bao {
background-color: #ffda6d;
padding:20px 30px;
font-size:30px;
border-radius:20px;
border: 1px solid #eee;
box-shadow: 0 0 2px 2px #eee;
color:#fff;
font-family: 'Futura', 'Arial', 'Helvetica';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
}
    .button-command1 {
    background-color: #ffda6d;
    padding:20px 30px;
    font-size:4vh;
    border-radius:20px;
    border: 1px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    color:#fff;
    font-family: 'Futura', 'Arial', 'Helvetica';
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:80px;
}
}

@media screen and (max-width:800px) {
    .button-bao {
background-color: #ffda6d;
padding:10px 20px;
font-size:20px;
border-radius:20px;
border: 1px solid #eee;
box-shadow: 0 0 2px 2px #eee;
color:#fff;
font-family: 'Futura', 'Arial', 'Helvetica';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
}
}

.order {
    margin-top:30px;
}

.order-title {
    font-size:30px;
    text-align:center;
    color:#bbb;
}

@media screen and (min-width:801px) {
    .reponse {
    font-size:30px;
    font-family: 'Shadows into light', 'Gill Sans','Futura';
    text-align:center;
    padding-top:50px;
}
}

@media screen and (max-width:800px) {
    .reponse {
    font-size:20px;
    font-family: 'Shadows into light', 'Gill Sans','Futura';
    text-align:center;
    padding-top:50px;
}
}

@media screen and (min-width:801px) {
    #hiddenImage {
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:8px;
    border: 2px solid #eee;
    /*box-shadow: 0 0 7px 7px #eee;*/
    margin-top:30px;
}
}

@media screen and (max-width:800px) {
    #hiddenImage {
    width:100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:8px;
    border: 2px solid #eee;
/*    box-shadow: 0 0 7px 7px #eee;*/
    margin-top:30px;
}
}

.inner-content .social-icons {
    text-align:center;
    font-size: 30px;
    text-decoration: none;
    margin-top:5%;
}


/*ORDER BLOCK*/
.main-command {
    display:block;
    margin: 30px auto;
    background-color:#fff;
    border-radius:8px;
    border: 2px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    width:80%;
    padding:40px;
}

@media screen and (min-width:801px) {.main-command .command-title {
    text-align:center;
    font-family:'futura','helvetica';
    font-size:30px;
    border-bottom: 1px solid #eee;
    padding: 20px 20px 30px 20px;
    margin-bottom:15px;
    color:#84b4e7;
    margin: 0px auto 10px;
}
}

@media screen and (max-width:800px) {.main-command .command-title {
    text-align:center;
    font-family:'futura','helvetica';
    font-size:20px;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
    margin-bottom:15px;
    color:#84b4e7;
    margin: 0px auto 10px;
}
}

.command {
    display:block;
    background-color:#fff;
    text-align: center
}

@media screen and (min-width:801px) {
.row-choice {
    display: block;
    height:450px;
}
}

.column-choice {
    display: inline-block;
    text-align:center;
    margin: 30px 3% 20px 3%;
    width: 27%;
/*    margin: 40px 10% 0px 10px;*/
    padding-top: 20px;
}


@media screen and (min-width: 800px) {
.column-choice .img-choice-bao {
    width: 70%;
    height: auto;
    margin-bottom:15px;
    border-radius:20px;
    border: 2px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
}
.form-control {
    position: relative;
    font-size:20px;
    font-family:'futura';
    padding:20%;
    background-color: #fff;
/*    color:#84B4E7;*/
    color:#000;
    border: 1px solid #eee;
    margin-top:20px;
}
}

@media screen and (max-width: 800px) {
    .column-choice {
        width:80%;
        text-align: center;
        margin: 0px auto;
        float:none;
    }
    .column-choice .img-choice-bao {
    width: 40%;
    height: auto;
    margin-bottom:15px;
    border-radius:20px;
    border: 2px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
}
    .form-control {
        position: relative;
        font-size:20px;
        font-family:'Gill Sans','futura';
        padding:5px 15px;
        background-color: #fff;
/*        color:#84B4E7;*/
        color:#000;
        border: 1px solid #eee;
        margin-top:20px;
}
}

.column-choice h2 {
    font-family:'futura','helvetica';
    font-size:20px;
    margin-bottom:15px;
    color:#eb6f6d;
}

.column-choice h3 {
    font-family:'futura','helvetica';
    color:#bbb;
    margin-bottom:10px;
}

.column-choice p {
    padding: 10px;
    font-family: 'Gill Sans';
    margin-bottom:0px;
    color:#bbb;
    font-size: 19px;
}

.button-validate-order1 {
background-color: #EB6F6D;
padding:10px 20px;
font-size:3.5vh;
border-radius:20px;
border: 1px solid #eee;
box-shadow: 0 0 2px 2px #eee;
color:#fff;
font-family: 'Futura', 'Arial', 'Helvetica';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
}


/*user review*/

.user-reviews {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin: 30px auto;
    background-color:#fff;
    padding:30px;
    border-radius:8px;
    border: 2px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    width:80%;
    padding:40px;
    text-align: center
}

@media screen and (min-width:801px) {
    .column-reviews {
    display: inline-block;
    margin: 50px 1% auto 1%;
    width: 20%;
    height:auto;
    border: 2px solid #eee;
/*    margin: 40px 10% 0px 10px;*/
    border-radius:20px;
    box-shadow: 0 0 2px 2px #eee;
    border: 2px solid #eee;
    padding: 50px;
}
}


.column-reviews .img-usr {
    min-width: 100%;
    height: auto;
    margin-bottom:15px;
    border-radius:20px;
    border: 2px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
}

@media screen and (max-width: 800px) {
    .column-reviews {
        width:70%;
        text-align: center;
        margin: 50px auto;
        float:none;
    }
}

.column-reviews h2 {
    font-family:'futura','helvetica';
    font-size:20px;
    margin-bottom:15px;
    color:#84b4e7;
}

.column-reviews h3 {
    font-family:'futura','helvetica';
    color:#bbb;
    margin-bottom:10px;
}

.column-reviews p {
    padding: 10px;
    font-family: 'Gill Sans';
    margin-bottom:20px;
    color:#bbb;
    font-size: 19px;
}

.row {
    margin-left:2%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#user-reviews-title {
    text-align:center;
    font-family:'futura', 'helvetica';
    color:#84b4e7;
    font-size:40px;
}

/*CONTACT*/

.contact-block {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin: 30px auto;
    background-color:#fff;
    padding:30px;
    border-radius:8px;
    border: 2px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    width:80%;
    padding:40px;
}

.contact {
    text-align:center;
    font-family:'futura', 'helvetica';
    margin-top: 20px;
    color:#bbb;
    font-size:20px;
}

.contact-adress {
    text-align:center;
    font-family:'futura', 'helvetica';
    color:#eee;
    text-decoration:none;
    font-size:20px;
}

.bun-pic1 {
    width: 50px;
    height:auto;
    margin: 20px;
}


/* BLOG PAGE */

.header-blog {
    height:70px;
    background-color:#ffda6d;
    padding:0px 50px;
    border-radius:8px;
/*    margin:20px;*/
    border:1px solid #eee;
    position:relative;
/*    box-shadow:0 0 2px 2px #eee;*/
}

.header-right a:hover {
    background-color:#FACA3B;
}

.header-blog a:hover {
    background-color: #FACA3B;
}

.header-blog .header-left a:hover, .header-blog .header-right a:hover {
    background-color: #E7B626;
    border-radius:20px;
}

.title-blog-bao {
    font-family:'Shadows Into Light','Futura','Helvetica';
    color: #fff;
    text-align:center;
    background-color:#afcff9;
    border-radius:16px;
    padding:20px 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    margin: 50px 20%;
}

@media screen and (max-width:800px) {
    .title-blog-bao {
    font-family: 'Shadows Into Light','Futura','Helvetica';
    color: #fff;
    font-size:30px;
    text-align:center;
    background-color:#84B4E7;
    border-radius:16px;
    padding:20px 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    margin: 50px 40px;
}
    .blog-articles {
    width:100%;
}
    .blog-content .social-icons {
    margin-bottom: 40px;
}
}

.blog-content {
    padding-bottom:50px;
}

.blog-content .social-icons {
    text-align:center;
    font-size: 40px;
    text-decoration: none;
}

/*social icons*/
.social-icons .fa {
    color:#bbb;
    padding:10px;
    text-decoration: none;
}

.social-icons .fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

@media screen and (min-width:801px) {
.blog-articles {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:50px;
    background-color:#fff;
    padding:30px;
    border-radius:8px;
    border: 2px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    width:70%;
}
}

.blog-inner-content .article-title {
    text-align:center;
    font-family: 'futura';
}

.blog-inner-content .blog-image {
    border-radius:8px;
    padding:20px;
    display:block;
    margin: 40px auto;
}


/*FOOTER */

@media screen and (min-width:801px) {
    .social-icon-bottom {
        float:left;
    }

    .social-icon-bottom .fa {
        color:#aaa;
        text-decoration: none;
        margin:0px 6px;
    }

    .footer-links {
        text-align:center;
        margin:40px 0 15px 7%;
    }
    .footer-links a {
        text-decoration:none;
        font-family:'futura';
        color:#bbb;
        margin:0px 8px;
        font-size: 14px;
        float:left;
}
}

@media screen and (max-width:800px) {
    .social-icon-bottom {
        float:left;
    }

    .social-icon-bottom .fa {
        color:#aaa;
        text-decoration: none;
        margin:0px 6px;
    }

    .footer-links {
        text-align:center;
        margin:40px 0 15px 7%;
    }
    .footer-links a {
        text-decoration:none;
        font-family:'futura';
        color:#bbb;
        margin:0px 30px 10px 0;
        font-size: 14px;
        float:left;
        text-align:;
}
}




/*LOGIN*/

.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding:5px 15px;
}

.container {
      background-color: #fff
}

@media screen and (min-width:801px) {
    .main-div {
  border-radius: 8px;
  margin: 0px auto 30px;
  max-width: 50%;
  padding: 50px 70px 70px 71px;
  font-family:'futura';
  font-size:20px;
}
}


.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #ffda6d none repeat scroll 0 0;
  border-color: #ffda6d;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}
