

/*COMMON TO ALL SITE*/

/* HEADER */

@media (min-width: 700px) {
    .header {
    height:70px;
    background-color:#84B4E7;
    padding:0px 50px;
    border-radius:8px;
/*    margin:20px;*/
    border:1px solid #eee;
    position:relative;
/*    box-shadow:0 0 2px 2px #eee;*/
}
}


/*logo*/
.logo-container {
    height:auto;
    postion:absolute;
    text-align:center;
    margin-top:20px;
}

.logo-bao {
    width:15vh;
    margin-bottom:20px;
    /*display:none;*/
}

/*wodebao*/
.logo-title {
    margin:10px 0 0 60px;
}

.title-bao {
        width:165px;
        float:left;
}


/*menu nav*/
.header-left {
    font-family: 'Roboto', 'Futura', 'Arial';
    float:left;
    margin:15px 0 0 25px;
}

.header-left a, .header-right a {
    padding:8px 15px;
    text-decoration:none;
    color:#fff;
    font-size:2vh;
}

.header .header-left a:hover, .header-right a:hover {
    background-color: dodgerblue;
    border-radius:20px;
}

.header-left a.active {
    background-color: dodgerblue;
    border-radius:20px;
    color: white;
}


.header-right {
    font-family: 'Roboto', 'Futura', 'Arial';
    float:right;
    margin:15px 45px 0 0px;
}




/* CONTAINER */

.container {
    background-color:#f2f2f2;
    padding-top:50px;
    padding-bottom:50px;
}

.inner-content {
    display:block;
    margin-left:auto;
    margin-right:auto;
    background-color:#fff;
    padding:30px;
    border-radius:8px;
    border: 2px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    width:80%;
    padding:40px;
}

.container .inner-content .description {
    font-family:'Futura', 'Helvetica';
    font-size:5vh;
    text-align:center;
}

button {
background-color: #ffda6d;
padding:20px 30px;
font-size:6vh;
border-radius:20px;
border: 1px solid #eee;
box-shadow: 0 0 2px 2px #eee;
color:#fff;
font-family: 'Comic Sans MS', 'Roboto', 'Futura', 'Arial', 'Helvetica';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
}

.reponse {
    font-size:5vh;
    font-family: 'Roboto','Futura';
    text-align:center;
    padding-top:50px;
}

#hiddenImage {
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:20px;
    border: 2px solid #eee;
    box-shadow: 0 0 7px 7px #eee;
    margin-top:30px;
}

.inner-content .social-icons {
    text-align:center;
    font-size: 30px;
    text-decoration: none;
    margin-top:10%;
}

.user-reviews {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin: 30px auto;
    background-color:#fff;
    padding:30px;
    border-radius:8px;
    border: 2px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    width:80%;
    padding:40px;
}

.column-reviews {
    margin-top:40px;
    float: left;
    width: 20%;
    height:auto;
    padding: 10px;
    text-align:center;
    border: 2px solid #eee;
}

.column-reviews h2 {
    font-family:'futura','helvetica';
    font-size:20px;
    margin-bottom:20px;
}

.column-reviews p {
    font-family:'helvetica';
    font-size:13px;
    margin-bottom:20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#user-reviews-title {
    text-align:center;
    font-family:'futura', 'comic sans ms', 'helvetica';
    color:#bbb;
    font-size:40px;
}

/* BLOG PAGE */

.header-blog {
    height:70px;
    background-color:#ffda6d;
    padding:0px 50px;
    border-radius:8px;
/*    margin:20px;*/
    border:1px solid #eee;
    position:relative;
/*    box-shadow:0 0 2px 2px #eee;*/
}

.header-right a:hover {
    background-color:dodgerblue;
}

.header-blog .header-left a:hover, .header-blog .header-right a:hover {
    background-color: #E7B626;
    border-radius:20px;
}

.title-blog-bao {
    font-family:'Futura','Helvetica';
    color: #fff;
    text-align:center;
    background-color:#84B4E7;
    border-radius:16px;
    padding:20px 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    margin: 10% 20%;
}

.blog-content .social-icons {
    text-align:center;
    font-size: 40px;
    text-decoration: none;
}

/*social icons*/
.fa {
    color:#bbb;
    padding:10px;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

/*CONTACT*/

.contact-block {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin: 30px auto;
    background-color:#fff;
    padding:30px;
    border-radius:8px;
    border: 2px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    width:80%;
    padding:40px;
}

.contact {
    text-align:center;
    font-family:'futura', 'comic sans ms', 'helvetica';
    margin-top: 10px;
    color:#bbb;
    font-size:40px;
}

.contact-adress {
    text-align:center;
    font-family:'futura', 'comic sans ms', 'helvetica';
    color:#eee;
    text-decoration:none;
    font-size:20px;
}

.bun-pic1 {
    width: 50px;
    height:auto;
    margin: 20px;
}
